In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_excel('places.xlsx', 'places')

In [3]:
data = data.rename(columns = {'Climate': 'location',
'HousingCost': 'climate',
'HlthCare': 'housing',
'Crime': 'health',
'Transp': 'crime',
'Educ': 'transportation',
'Arts': 'education',
'Recreat': 'arts',
'Econ': 'recreation',
'CaseNum': 'economy'})

del data['Long']
del data['Lat']
del data['Pop']
del data['StNum']
del data['Unnamed: 14']

In [4]:
data['location'] = data['location'].apply(lambda x: x.strip())

In [5]:
data.head()

,location,climate,housing,health,crime,transportation,education,arts,recreation,economy
0,"Abilene,TX",521,6200,237,923,4031,2757,996,1405,7633
1,"Akron,OH",575,8138,1656,886,4883,2438,5564,2632,4350
2,"Albany,GA",468,7339,618,970,2531,2560,237,859,5250
3,"Albany-Schenectady-Troy,NY",476,7908,1431,610,6883,3399,4655,1617,5864
4,"Albuquerque,NM",659,8393,1853,1483,6558,3026,4496,2612,5727

In [6]:
data['climate_log10'] = np.log10(data['climate'])
data['housing_log10'] = np.log10(data['housing'])
data['health_log10'] = np.log10(data['health'])
data['crime_log10'] = np.log10(data['crime'])
data['transportation_log10'] = np.log10(data['transportation'])
data['education_log10'] = np.log10(data['education'])
data['arts_log10'] = np.log10(data['arts'])
data['recreation_log10'] = np.log10(data['recreation'])
data['economy_log10'] = np.log10(data['economy'])

In [7]:
data.to_csv('places.csv', index=False)